@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IN:wght@100..400&family=Preahvihear&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.preahvihear-regular {
  font-family: "Preahvihear", serif;
  font-weight: 700;
  font-style: normal;
}


@layer utilities {
  .perspective-\[1000px\] {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .rotate-y-\[-25deg\] {
    transform: rotateY(-25deg);
  }
  .rotate-x-\[15deg\] {
    transform: rotateX(15deg) rotateY(-25deg);
  }
  .rotate-y-\[-15deg\] {
    transform: rotateY(-15deg);
  }
}

.clip-distort {
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}
.s-shape {
  clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
}


@layer base {
  body {
    @apply bg-zinc-900;
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradient 8s ease infinite;
    background-size: 200% 200%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}